.logo {
    height: 100px;
    margin: 12px 0;
}

.search {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 0;
    position: relative;
}

.search-input {
    background-color: #ffffff;
    border: 3px solid var(--primary-color);
}

.search-icon {
    background-color: var(--primary-color);
    color: #ffffff;
    border: 3px solid var(--primary-color);

}

.search-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.search-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);

}


/* History */


.search-input:focus~.search-history {
    display: block;
}

.search-history {
    z-index: 1;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border: 3px solid #fef6f6;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 123, 255, 0.25);
    padding: 0;
    display: none;

}


.search-history h3 {
    color: #888;
    font-size: 14px;
    text-align: left;
    padding: 8px 12px;
}


.list-history {
    list-style-type: none;
    text-align: left;
    padding: 0px;
    margin: 0px;
    
}

.list-history:hover {
    cursor: pointer;

}

.list-his {
    padding: 0px 8px 8px 8px;
}

.list-his a {
    list-style: none;
    text-decoration: none;
    color: black;
    padding-left: 4px;
}

.list-his:hover {
    box-shadow: 0 0px 2px rgba(0, 123, 255, 0.25);
}




.user {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.user_icon {
    color: var(--primary-color);
    font-size: 22px;
}

.user_icon:hover {
    cursor: pointer;
}


.list_icon:hover{
    opacity: 0.5;
}

.user-hover{
    right: -20px;
    inset: none;
}

.user-list{
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
}
.user-list:hover{
    color: var(--primary-color);
    box-shadow: 0 1px 5px rgba(0, 123, 255, 0.25);
}





/* Footer */
.logo-footer {
    height: 100px;
}

.foot-list_desc {
    list-style: none;
    padding: 0;
    font-size: 14px;
    margin: 0 80px;
}

.foot-icon {
    font-size: 30px;
}

.list-link {
    margin-bottom: 15px;
}



/* Contain */

.contain-navbar {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}


.contain-navbar:hover {
    color: var(--primary-color);

}


.dropdown-menu {
    box-shadow: 0 8px 10px rgba(0, 123, 255, 0.25);
    padding: 0;
    /* overflow: hidden; */
}

.dropdown-list {


    padding-right: 100px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;

}

.dropdown-list:hover {
    color: var(--primary-color);
    box-shadow: 0 1px 5px rgba(0, 123, 255, 0.25);
}

.dropdown-item:active {
    background-color: transparent;
    /* Loại bỏ hiệu ứng khi nhấn */
    /* color: inherit;                  Đảm bảo màu chữ không thay đổi khi nhấn */
}

.dropdown-cur {
    position: relative;
}

.cur-hover:hover .dropdown-cur-list {
    display: block;
}

.cur-hover::after {
    content: '';
    position: absolute;
    right: -6px;
    top: 0;
    width: 10px;
    height: 35px;
    /* background-color: black; */
}

.dropdown-cur-list {
    display: none;
    position: absolute;
    right: -207px;
    top: 0px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    list-style: none;
    overflow: hidden;

}

.cur-list {
    padding: 8px 8px;
}

.cur-list:hover {
    box-shadow: 0 1px 5px rgba(0, 123, 255, 0.25);
    cursor: pointer;
    background-color: var(--back-color);
}

.cur-list a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
}


/* Block 2 */

.carousel-img {
    width: 80%;
    /* Đảm bảo ảnh luôn chiếm toàn bộ chiều rộng */
    height: 400px;
    /* Đặt chiều cao cố định cho ảnh */
    object-fit: cover;
    /* Cắt ảnh để giữ tỷ lệ mà không bị méo */
    object-position: center;
    /* Căn giữa ảnh trong khung */
    border-radius: 20px;
}

/* END BLOCK 2 */


/* Block 3 */
.block3-link3 {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    background-color: var(--back-color);
    padding: 6px 8px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.25);
    
}
.block3-link3:hover{
    color: var(--primary-color);
    box-shadow: 0 6px 16px rgba(0, 123, 255, 0.25);
}
.block3-link3 i {
    margin: 10px 2px 10px 8px;
    font-size: 14px;
    
}

/* BLOCK3 - sản phẩm */
.product {
    margin: 12px -12px;
}

.product-item {

    padding: 12px;
    border-radius: 12px;
    margin: 0 0px 0 0px;
    text-decoration: none;
    /* margin: 12px; */
}

.item {
    display: block;
    text-decoration: none;
    background-color: var(--back-color);
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.25);
    transition: transform linear 0.1s;
    will-change: transform;
}

.item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 123, 255, 0.25);
}

.item_img {
    padding-top: 100%;
    background-repeat: none;
    background-position: center;
    background-size: contain;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;

}


.item_img:hover {
    transform: scale(1.1);
    /* Phóng to ảnh lên 10% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;

}


.item_price {
    margin: 6px 0;
    font-weight: 700;
    color: var(--text-color);
}

.item_price:hover {
    color: var(--primary-color);
}

.item_desc {
    margin: 6px 0;
    color: var(--text-color);
    line-height: 22px;
    height: 44px;
    font-size: 14px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*hướng của 3 chấm  */
    -webkit-line-clamp: 2;
}

.item_desc:hover {
    color: var(--primary-color);
}


/* END Block3 - SẢN PHẨM */


/* END BLOCK3 */






/* BLOG */
.blog-item{
    margin: 20px 0;
    background-color: var(--back-color);
    padding: 20px 0;
    border-radius: 40px;
}
.blog-silde{
    bottom: -40px;
}

.blog-content{
    font-size: 24px;
    color: var(--text-color);
    font-weight: 400;
    font-style: italic;
    margin: 12px 100px;
}

.blog-info h3{
    color: var(--text-color);
   
}
.info_img{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    object-fit: cover;
    margin-bottom: 12px;
}
/* END BLOG */