.logo {
    height: 100px;
    margin: 12px 0;
}

.search {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 0;
    position: relative;
}

.search-input {
    background-color: #ffffff;
    border: 3px solid var(--primary-color);
}

.search-icon {
    background-color: var(--primary-color);
    color: #ffffff;
    border: 3px solid var(--primary-color);

}

.search-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.search-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);

}


/* History */


.search-input:focus~.search-history {
    display: block;
}

.search-history {
    z-index: 1;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border: 3px solid #fef6f6;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 123, 255, 0.25);
    padding: 0;
    display: none;

}

.search-history h3 {
    color: #888;
    font-size: 14px;
    text-align: left;
    padding: 8px 12px;
}

.list-history {
    list-style-type: none;
    text-align: left;
    padding: 0px;
    margin: 0px;

}

.list-history:hover {
    cursor: pointer;

}

.list-his {
    padding: 0px 8px 8px 8px;
}

.list-his a {
    list-style: none;
    text-decoration: none;
    color: black;
    padding-left: 4px;
}

.list-his:hover {
    box-shadow: 0 1px 5px rgba(0, 123, 255, 0.25);
}




.user {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.user_icon {
    color: var(--primary-color);
    font-size: 22px;
}

.user_icon:hover {
    opacity: 0.5;
}






/* Footer */
.logo-footer {
    height: 100px;
}

.foot-list_desc {
    list-style: none;
    padding: 0;
    font-size: 14px;
    margin: 0 80px;
}

.foot-icon {
    font-size: 30px;
}

.list-link {
    margin-bottom: 15px;
}



/* Contain */

.contain-navbar {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.contain-navbar:hover {
    color: var(--primary-color);

}


.dropdown-menu {
    box-shadow: 0 8px 10px rgba(0, 123, 255, 0.25);
    padding: 0;
    /* overflow: hidden; */
}

.dropdown-list {


    padding-right: 100px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;

}

.dropdown-list:hover {
    color: var(--primary-color);
    box-shadow: 0 1px 5px rgba(0, 123, 255, 0.25);
}

.dropdown-item:active {
    background-color: transparent;
    /* Loại bỏ hiệu ứng khi nhấn */
    /* color: inherit;                  Đảm bảo màu chữ không thay đổi khi nhấn */
}

.dropdown-cur {
    position: relative;
}

.cur-hover:hover .dropdown-cur-list {
    display: block;
}

.cur-hover::after {
    content: '';
    position: absolute;
    right: -6px;
    top: 0;
    width: 10px;
    height: 35px;
    /* background-color: black; */
}

.dropdown-cur-list {
    display: none;
    position: absolute;
    right: -207px;
    top: 0px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    list-style: none;
    overflow: hidden;

}

.cur-list {
    padding: 8px 8px;
}

.cur-list:hover {
    box-shadow: 0 1px 5px rgba(0, 123, 255, 0.25);
    cursor: pointer;
    background-color: var(--back-color);
}

.cur-list a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
}
