
:root{
    --back-color:#D8F1F9;
    --text-color:#234575;
    --primary-color:#0bafe5;
}
.header{
    display: block;
    width: 100%;
    background-color: var(--back-color);
   
}


.footer{
    display: block;
    width: 100%;
    padding: 40px;
    background-color: var(--back-color);
    
}

.letter{
    color: var(--text-color);
}


/* Contain */
.contain{
    background-color: #f7f7f7;
}
.contain-header{
    background-color: var(--back-color);
    margin: 60px auto;
    padding: 20px 0;
    border-radius: 50px;
   
}
.contain-header2{
    background-color: var(--back-color);
    margin: 60px auto;
    padding: 20px 0;
    border-radius: 50px;
   
}


/* END Contain */


/* BLOG */
.blog{
   
    margin: 30px auto;
 
}