

.header{
    display: block;
    width: 100%;
    background-color: #D8F1F9;
   
}


.footer{
    display: block;
    width: 100%;
    padding: 40px;
    background-color: #D8F1F9;
    
}

.letter{
    color: #234575;
}

.contain-header{
    background-color: #D8F1F9;
    margin: 60px auto;
    padding: 20px 0;
    border-radius: 50px;
   
}